.foot{
    background-color: rgb(44, 44, 54);
    position:static;
    bottom: 0;
    height: auto;
    min-height: 370px;
    padding-top: 50px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.hFoot{
    margin: 20px;
}

.pading{
    padding-top: 50px;
}

.iconLoc{
    position:absolute;
    right: 0;
    margin-right: 35px;
}

.iconMarg{
   margin-right: 10px; 
}

.buttonMarg{
    margin:auto
}

.headButt{
border-radius: 20px;
margin: 2px;
}

.carouselImg{
    background-size: cover;
    height: auto;
}

.hColor{
    color: white;
}





