.foot{
    background-color: rgb(44, 44, 54);
    position:static;
    bottom: 0;
    height: auto;
    min-height: 370px;
    padding-top: 50px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.hFoot{
    margin: 20px;
}

.pading{
    padding-top: 50px;
}

.iconLoc{
    position:absolute;
    right: 0;
    margin-right: 35px;
}

.iconMarg{
   margin-right: 10px; 
}

.buttonMarg{
    margin:auto
}

.headButt{
border-radius: 20px;
margin: 2px;
}

.carouselImg{
    background-size: cover;
    height: auto;
}

.hColor{
    color: white;
}

input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}





